# Composer
composer.phar
composer.lock
/vendor/

# Env File
/includes/inc/env.php

# Users
/images/users/*
!/images/users/.gitkeep
!/images/users/avatar.png

# Uploads
/images/uploads/*
!/images/uploads/.gitkeep

# Temp
/temp/*
!/temp/.gitkeep

# Extensions
/extensions/temp/*
!/extensions/temp/.gitkeep