/* #region Navbar */

.navbar {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 99;
    padding: 10px 20px;
    padding-left: 320px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar.full-width {
    padding-left: 20px;
}

.navbar .page-name {
    font-size: 20px;
    color: #777;
    font-family: var(--fontFamily);
    font-weight: normal;
}

.navbar .menu {
    flex: 1;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}

.navbar .menu-item {
    background: none;
    font-size: 16px;
    color: #777;
    border: none;
    cursor: pointer;
}

.navbar .menu-item img {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*----------------------
    Top NavBar End
-----------------------*/

/* #endregion Navbar */

/* #region Overrides */

.navbar:not(.full-width) {
    padding: 10px 30px;
    width: calc(100vw - var(--sidebarWidth));
    left: var(--sidebarWidth);
    height: auto;
}

.navbar .page-name {
    font-size: 17px;
}

/* #endregion Overrides */
